header {
  font-family: "Roboto", sans-serif;
  background-color: #eac926;
  color: #5a5a5a;
}

body {
  font-size: 12px;
}

h2 {
  font-size: 24px;
}

#compraCuotas {
  text-align: center;
}

.menuOpcion {
  background-color: blue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
}

#search {
  background-color: white;
  margin: 2px;
}

#buscar {
  margin: 2px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0.2;
  color: #5a5a5a;
}

/*CUERPO*/

.articulos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#precio {
  font-size: 18px;
}

#descuento {
  font-size: 16px;
}

#descripcion {
  font-size: 16px;
}

.article img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

#precio, #descuento, #descripcion {
  text-align: center;
}

/*PIE DE PAGINA*/

.iconFooter {
  font-size: 2em;
  margin-bottom: 10px;
  fill: blue;
  display: block;
  margin: 0 auto;
}

.sectionFooter {
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #757575;
}

.sectionFooterCopy {
  color: #9a9a9a;
}

footer h2 {
  color: #585858;
}
