* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

header {
  font-family: "Roboto", sans-serif;
  background-color: #eac926;
  color: #5a5a5a;
  
}

.header {
  margin-left: 5px;
  margin-bottom: 5px;
  display:flex;
  
}

/* Buscador */

/* .logo{
  width: 100%;
  max-width: 100%;
}

.buscador{
  width: 100%;
  max-width: 100%;
}
 */
 .logoBuscador{
    display: inline-flex;
    width: 100%;
}

 #logo {
  margin-top: 10px;
  width: 50%;
  max-width: 100%;
}

.buscador-form {
  display: inline-flex;
  align-items: center; 

}

.buscador-form input{
  margin-right: 10px; 
} 

/* .buscador-button {
  display: flex;
  align-items: center; 
  justify-content: center; 
} */

/* ---------------------- */

body {
  font-size: 12px;
}

h2 {
  font-size: 24px;
}

#compraCuotas {
  text-align: center;
}

.menuOpcion {
  background-color: blue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  margin: auto;
  border-radius: 20%;
  margin-bottom: 10px;
}

#search {
  background-color: white;
  margin: 2px;
}

#buscar {
  margin: 2px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0.2;
  color: #5a5a5a;
}

#banner{
  width: 100vw;
}

/*CUERPO*/

main {
  width: 90%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.articulos {
  margin-top: 10px;
}

.article img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.article {
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  padding: 15px;
  margin-bottom: 10px;
}

.articuloDescripcion svg {
  border: 1px solid green;
  border-radius: 50%;
  align-items: left;
  fill: green;
  float: right;
}

.article #descuento {
  color: green;
}

.articuloDescripcion {
  border-top: 1px solid #ebebeb;
  padding: 15px;
  margin-right: auto;
  display: block;
}

#precio,
#descuento,
#descripcion {
  text-align: left;
  margin: 0;
}

.precioDescuento {
  display: flex;
}

#precio {
  width: 30%;
}

#descuento {
  width: 70%;
}

#descripcion {
  margin-top: 10px;
}

/*PIE DE PAGINA*/

.iconFooter {
  font-size: 2em;
  margin-top: 10px;
  fill: blue;
  display: block;
  margin: 0 auto;
}

.sectionFooter {
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #757575;
}

.sectionFooterCopy {
  color: #9a9a9a;
}

footer h2 {
  color: #585858;
}

/* Ocultar descripción en dispositivos móviles */
@media screen and (max-width: 360px) {
  #descripcion {
    display: none;
  }

  .menuOpcion {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  ul {
    display: none;
  }

}

/* Estilos para tablets (ancho mínimo 361px) */
@media screen and (min-width: 361px) {
  .article {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  .menuOpcion {
    display: none;
  }

  ul {
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .articulos{
    display: flex;
    flex-wrap: wrap;
    
  }
  
  .article {
    /* display: flex; */
    max-width: 50%;
  }

}

/* Estilos para desktops (ancho mínimo 769px) */
@media screen and (min-width: 769px) {
  .article {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  .menuOpcion {
    display: none;
  }

  ul {
    margin-bottom: 10px;
  }

  .article {
    flex-basis: 25%;
    max-width: 25%;
    justify-content: space-around;
  }
}
