 * {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

main{
    background-color: rgb(223, 212, 212);
    width: 100%;
}

form {
    max-width: 600px; 
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form p {
    margin-bottom: 5px;
}

/* Estilos para los campos del formulario */
#nombre_apellido,
#nombre_usuario,
#domicilio,
input[type="email"],
input[type="date"],
input[type="password"],
input[type="file"],
.btnEnvio,
input[type="reset"],
input[type="radio"],
input[type="checkbox"] ,
form select,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
    display: inline-block;
    margin-right: 10px;
}

.fechaNacimiento,
.perfil,
.intereses,
.foto {
    margin-bottom: 15px;
}

.fechaNacimiento p,
.perfil p,
.intereses p,
.foto p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Formulario de Login  */
.btnEnvio {
    margin-top: 5px;
    background-color: blue;
    color: white;
    border: transparent;
    padding: 5px;
    border-radius: 5px;
}

.btnBorro {
    margin-top: 5px;
    background-color: red;
    color: white;
    border: transparent;
    padding: 5px;
    border-radius: 5px;
}